version: 2
enable-beta-ecosystems: true   

updates:
  
  - package-ecosystem: github-actions
    directory: "/"
    schedule:
      interval: daily     
      time: "03:00"       
   
  - package-ecosystem: cargo
    directory: "/"
    schedule:
      interval: weekly
      day: monday
      time: "04:00"
 
